n8n/workflows/reminder-check.json
{
  "name": "Reminder Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "check-reminders",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-check-reminders",
      "name": "Webhook - Check Reminders",
      "webhookId": "check-reminders-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rdPfegtIDJxjov6d",
          "name": "X-API-Key Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar lembretes pendentes para o usuário\nSELECT \n    r.id AS reminder_id,\n    r.reminder_number,\n    r.sent_at,\n    i.id AS interaction_id,\n    i.message AS original_message,\n    i.reminder_count,\n    i.is_active,\n    u.nome,\n    u.email,\n    CASE \n        WHEN r.reminder_number = 1 THEN 'Olá ' || u.nome || '! Ainda precisa de ajuda? Estou aqui para continuar nossa conversa.'\n        ELSE 'Última tentativa, ' || u.nome || '! Podemos continuar nossa conversa? Caso não responda, encerrarei este atendimento.'\n    END AS reminder_message\nFROM reminders r\nINNER JOIN interactions i ON r.interaction_id = i.id\nINNER JOIN users u ON i.user_id = u.id\nWHERE \n    u.email = $1\n    AND r.was_responded = false\n    AND r.delivered_to_frontend = false\nORDER BY r.sent_at DESC\nLIMIT 5;",
        "options": {
          "queryReplacement": "={{ [$json.query.email] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [220, 0],
      "id": "query-reminders",
      "name": "Buscar Lembretes",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "r9lFU5WxT5LlSGrn",
          "name": "Postgres chatbot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-reminders",
              "leftValue": "={{ $json.reminder_id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 0],
      "id": "has-reminders",
      "name": "Tem Lembretes?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Marcar lembretes como entregues ao frontend\nUPDATE reminders\nSET delivered_to_frontend = true\nWHERE id = ANY($1::uuid[])\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ ['{' + $input.all().map(i => i.json.reminder_id).join(',') + '}'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [660, -80],
      "id": "mark-delivered",
      "name": "Marcar Entregues",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "r9lFU5WxT5LlSGrn",
          "name": "Postgres chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatar resposta com lembretes\nconst reminders = [];\n\nfor (const item of $('Buscar Lembretes').all()) {\n  if (item.json.reminder_id) {\n    reminders.push({\n      id: item.json.reminder_id,\n      message: item.json.reminder_message,\n      reminder_number: item.json.reminder_number,\n      sent_at: item.json.sent_at,\n      is_last: item.json.reminder_number >= 2\n    });\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    has_reminders: reminders.length > 0,\n    reminders: reminders,\n    count: reminders.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -80],
      "id": "format-response",
      "name": "Formatar Resposta"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, -80],
      "id": "respond-with-reminders",
      "name": "Responder com Lembretes"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"has_reminders\": false, \"reminders\": [], \"count\": 0 } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [660, 100],
      "id": "respond-no-reminders",
      "name": "Responder Sem Lembretes"
    }
  ],
  "connections": {
    "Webhook - Check Reminders": {
      "main": [
        [
          {
            "node": "Buscar Lembretes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lembretes": {
      "main": [
        [
          {
            "node": "Tem Lembretes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Lembretes?": {
      "main": [
        [
          {
            "node": "Marcar Entregues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Sem Lembretes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Entregues": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Responder com Lembretes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
