n8n/workflows/scheduled-appointments-create.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ==================\n// Validar Input POST\n// ==================\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]{2,}$/;\n\nfor (const item of $input.all()) {\n  const body = item.json.body ?? item.json;\n  const errors = {};\n\n  // Email obrigatório e formato válido\n  const email = String(body.email ?? '').trim().toLowerCase();\n  if (!email) {\n    errors.email = 'Email é obrigatório';\n  } else if (!emailRegex.test(email)) {\n    errors.email = 'Email inválido';\n  }\n\n  // Data agendada obrigatória e futura\n  const dataAgendadaRaw = body.data_agendada;\n  let dataAgendada = null;\n  if (!dataAgendadaRaw) {\n    errors.data_agendada = 'Data do agendamento é obrigatória';\n  } else {\n    dataAgendada = new Date(dataAgendadaRaw);\n    const agora = new Date();\n    if (isNaN(dataAgendada.getTime())) {\n      errors.data_agendada = 'Data inválida';\n    } else if (dataAgendada <= agora) {\n      errors.data_agendada = 'Data deve ser futura';\n    }\n  }\n\n  // Mensagem obrigatória (3-500 chars)\n  const mensagem = String(body.mensagem ?? '').trim();\n  if (!mensagem) {\n    errors.mensagem = 'Mensagem/descrição é obrigatória';\n  } else if (mensagem.length < 3) {\n    errors.mensagem = 'Mensagem deve ter ao menos 3 caracteres';\n  } else if (mensagem.length > 500) {\n    errors.mensagem = 'Mensagem deve ter no máximo 500 caracteres';\n  }\n\n  // Resultado\n  const hasErrors = Object.keys(errors).length > 0;\n\n  item.json = {\n    valid: !hasErrors,\n    errors: hasErrors ? errors : null,\n    email: email,\n    data_agendada: dataAgendadaRaw,\n    mensagem: mensagem\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        32
      ],
      "id": "007c7c94-0957-4816-bed8-0f4e05f9ec10",
      "name": "Validar Input POST"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-valid-post",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        32
      ],
      "id": "632f0e8d-dd74-40e8-bd4d-47b289b030df",
      "name": "Input Válido?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Validação falhou\", \"details\": $json.errors } }}",
        "options": {
          "responseCode": 422
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -480,
        192
      ],
      "id": "b2b85c95-df61-43f9-b02c-7fe0eaedba06",
      "name": "Response 422 (Validação)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nome, email, bloqueado FROM public.users WHERE email = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.email] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        16
      ],
      "id": "31b132bf-ce50-47bf-ac60-c23f7a93e8c9",
      "name": "Buscar Usuário",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "r9lFU5WxT5LlSGrn",
          "name": "Postgres chatbot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-user-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        16
      ],
      "id": "58376e43-0efd-4921-9bfc-6e5d6599e414",
      "name": "Usuário Existe?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Usuário não encontrado\", \"email\": $('Validar Input POST').item.json.email } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        160
      ],
      "id": "7a6da689-3d1c-44dc-bd42-913e864e4e0f",
      "name": "Response 404 (Usuário)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.agendamentos (\n  user_id,\n  data_agendada,\n  mensagem,\n  status,\n  notificado\n)\nVALUES ($1, $2, $3, 'pendente', false)\nRETURNING\n  id,\n  user_id,\n  data_agendada,\n  mensagem,\n  status,\n  notificado,\n  created_at;",
        "options": {
          "queryReplacement": "={{ [\n  $json.id,\n  $('Validar Input POST').item.json.data_agendada,\n  $('Validar Input POST').item.json.mensagem\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "0dc6e23a-eb9e-4159-9c2d-c2b0ebc9ca7b",
      "name": "INSERT Agendamento",
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "postgres": {
          "id": "r9lFU5WxT5LlSGrn",
          "name": "Postgres chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar response com dados do usuário e agendamento\nconst agendamento = $input.item.json;\nconst usuario = $('Usuário Existe?').item.json;\n\nreturn {\n  json: {\n    success: true,\n    message: 'Agendamento criado com sucesso',\n    agendamento: {\n      id: agendamento.id,\n      user_id: agendamento.user_id,\n      nome: usuario.nome,\n      email: usuario.email,\n      data_agendada: agendamento.data_agendada,\n      mensagem: agendamento.mensagem,\n      status: agendamento.status,\n      notificado: agendamento.notificado,\n      created_at: agendamento.created_at\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "b6347eff-e659-4534-888e-6e11ca8e34c8",
      "name": "Preparar Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "b4d679a7-1743-4737-bf79-db10a51e6ae4",
      "name": "Response 201 (Criado)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/v1/agendamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1168,
        32
      ],
      "id": "f1830a74-98e0-4b6f-bebf-2d5ba7597fb7",
      "name": "Webhook POST /api/v1/agendamento",
      "webhookId": "d2138afc-9926-4ab6-a98d-29123efcd144"
    }
  ],
  "connections": {
    "Validar Input POST": {
      "main": [
        [
          {
            "node": "Input Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Válido?": {
      "main": [
        [
          {
            "node": "Buscar Usuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response 422 (Validação)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuário": {
      "main": [
        [
          {
            "node": "Usuário Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuário Existe?": {
      "main": [
        [
          {
            "node": "INSERT Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response 404 (Usuário)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Agendamento": {
      "main": [
        [
          {
            "node": "Preparar Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Response": {
      "main": [
        [
          {
            "node": "Response 201 (Criado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST /api/v1/agendamento": {
      "main": [
        [
          {
            "node": "Validar Input POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "4e729a4763f84cfa063af38686a361bcf5853e3cce2ee82ee241730a33d3c21e"
  }
}