n8n/workflows/user-management-api-bloqueio.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Validar input e definir ação\nconst body = $input.item.json.body || $input.item.json;\nconst webhookPath = $input.item.json.headers?.['x-original-url'] || $input.item.json.path || '';\n\n// Determinar ação baseado no webhook que chamou\nlet action = 'bloqueio'; // default\nif (webhookPath.includes('desbloqueio') || $input.item.json.webhookUrl?.includes('desbloqueio')) {\n  action = 'desbloqueio';\n}\n\n// Validar email\nconst email = String(body.email || '').trim().toLowerCase();\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nlet error = null;\nif (!email) {\n  error = 'Email é obrigatório';\n} else if (!emailRegex.test(email)) {\n  error = 'Email inválido';\n}\n\nreturn {\n  json: {\n    valid: !error,\n    error: error,\n    email: email,\n    action: action\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -80
      ],
      "id": "028cfca5-58cf-4e5b-be68-0b6349b74d49",
      "name": "Validar Input Bloqueio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-valid-bloq",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -80
      ],
      "id": "265a300f-1785-4f5c-97b4-55854de4e64c",
      "name": "Input Válido? (Bloqueio)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Validação falhou\", \"details\": { \"email\": $json.error } } }}",
        "options": {
          "responseCode": 422
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        112
      ],
      "id": "ce3f0c77-2adf-47d8-ac84-c3c7afb7306a",
      "name": "Response 422 (Bloqueio)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nome, email, bloqueado FROM public.users WHERE email = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.email] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        -96
      ],
      "id": "7c1e1d1f-fcf3-4de2-b541-d03f1b363f54",
      "name": "Buscar Usuário (Bloqueio)",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "r9lFU5WxT5LlSGrn",
          "name": "Postgres chatbot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-exists-bloq",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -96
      ],
      "id": "8d7ecd86-5674-49ca-aea8-5dc564dfa0e0",
      "name": "Usuário Existe? (Bloqueio)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Usuário não encontrado\", \"email\": $('Validar Input Bloqueio').item.json.email } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        656,
        48
      ],
      "id": "ac1ff163-3e88-42bf-844c-3a252e4b0af5",
      "name": "Response 404 (Bloqueio)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-already-blocked",
              "leftValue": "={{ $json.bloqueado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        -112
      ],
      "id": "8f234d91-a644-404a-a996-7131781513a4",
      "name": "Já Bloqueado?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Usuário já estava bloqueado\", \"user\": { \"id\": $json.id, \"nome\": $json.nome, \"email\": $json.email, \"bloqueado\": $json.bloqueado } } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        864,
        -240
      ],
      "id": "14d0bf0f-3d5a-4920-9201-58e6565a6fd3",
      "name": "Response Já Bloqueado"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.users SET bloqueado = true, updated_at = NOW() WHERE id = $1 RETURNING id, nome, email, bloqueado;",
        "options": {
          "queryReplacement": "={{ [$json.id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        -96
      ],
      "id": "f21c5f08-ea64-4adc-ae86-f5124ad96a04",
      "name": "UPDATE Bloquear",
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "postgres": {
          "id": "r9lFU5WxT5LlSGrn",
          "name": "Postgres chatbot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Usuário bloqueado com sucesso\", \"user\": { \"id\": $json.id, \"nome\": $json.nome, \"email\": $json.email, \"bloqueado\": $json.bloqueado } } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1072,
        -96
      ],
      "id": "4ad007f2-24d0-4ac8-bbd3-5d6a0ac13512",
      "name": "Response Bloqueado Sucesso"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/v1/bloqueio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -80
      ],
      "id": "648c1e5a-1a00-478e-af65-bf89935637de",
      "name": "User-Management-API - Webhook Bloqueio",
      "webhookId": "bloqueio-endpoint-001"
    }
  ],
  "connections": {
    "Validar Input Bloqueio": {
      "main": [
        [
          {
            "node": "Input Válido? (Bloqueio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Válido? (Bloqueio)": {
      "main": [
        [
          {
            "node": "Buscar Usuário (Bloqueio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response 422 (Bloqueio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuário (Bloqueio)": {
      "main": [
        [
          {
            "node": "Usuário Existe? (Bloqueio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuário Existe? (Bloqueio)": {
      "main": [
        [
          {
            "node": "Já Bloqueado?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response 404 (Bloqueio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já Bloqueado?": {
      "main": [
        [
          {
            "node": "Response Já Bloqueado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UPDATE Bloquear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE Bloquear": {
      "main": [
        [
          {
            "node": "Response Bloqueado Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User-Management-API - Webhook Bloqueio": {
      "main": [
        [
          {
            "node": "Validar Input Bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "4e729a4763f84cfa063af38686a361bcf5853e3cce2ee82ee241730a33d3c21e"
  }
}